{% extends 'core/base.html' %}
{% load static %}
{% block title %}INDICADORES{% endblock %}
{% block content %}
<div class="ui container">
  <h2 class="ui header floated left">
    <i class="clipboard check icon"></i>
    <div class="content">{{ caracteristica.nombre }}
      <div class="ui grey large label">LISTADO DE INDICADORES</div>
    </div>
  </h2>
  <div class="ui divider clearing"></div>
<!-- TABLA DE LISTADO DE DOCUMENTOS -->
  <div>
    <table id="documentos" class="ui celled very compact table bordered striped">
      <thead>
      <tr>
        <th>ACCIONES</th>
        <th>CARACTERÍSTICA</th>
        <th>FECHA</th>
        <th>NOMBRE INDICADOR</th>
      </tr>
      </thead>
      <tbody>
      {% for documento in listado_indicadores %}
      <tr>
        <td style="width: 30%">
          <a class="ui mini icon teal labeled button"
             href="{{ documento.archivo.url }}"
             data-tooltip="Descargar Documentos"
             data-inverted=""
             data-position="bottom center">
            <i class="download icon"></i>
            Descargar Archivo
          </a>

          {% if request.user.is_staff %}
          <a class="ui mini icon grey labeled button"
             href="#"
             data-tooltip="Modificar Documento"
             data-inverted=""
             data-position="bottom center">
            <i class="edit icon"></i>
            Modificar Documento
          </a>
          {% endif %}
        </td>
        <td>{{ documento.caracteristica }}</td>
        <td>{{ documento.vigencia | upper }}</td>
        <td>{{ documento.nombre | upper }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </div>
  <!-- TERMINO DE TABLA DE DOCUMENTOS -->

{% endblock %}
{% block scripts %}
<!-- BLOQUE DE SCRIPTS PARA DATATABLES CON SEMANTIC UI -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#documentos').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
<!-- FIN DEL BLOQUE DE SCRIPTS PARA DATATABLES Y SEMANTIC UI -->
{% endblock scripts %}
