{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ caracteristica.nombre }}{% endblock %}
{% block content %}
<div>
  <h2 class="ui header floated left">
    <i class="clipboard check icon"></i>
    <div class="content">{{ caracteristica.nombre }}
      <div class="ui grey large label">DOCUMENTOS E INFORMACIÓN DE LA CARACTERISTICA {{caracteristica.nombre}}</div>
    </div>
  </h2>
      {% if request.user.is_staff %}
  <a class="ui right floated mini violet labeled icon button"
     data-tooltip="Cambiar encargado de característica"
     data-inverted=""
     data-position="bottom center"
     href="{% url 'caracteristicas:actualizar' caracteristica.id caracteristica.nombre|slugify %}">
    <i class="user icon"></i>
    CAMBIAR ENCARGADO DE CARACTERÍSTICA
  </a>
  {% endif %}
    {% if request.user.is_staff %}
  <a class="ui right floated mini blue labeled icon button"
     data-tooltip="Ingresar un documento nuevo"
     data-inverted=""
     data-position="bottom center"
     href="{% url 'documentos:crear' %}">
     <i class="upload icon"></i>
    INGRESAR NUEVO DOCUMENTO
  </a>
  {% endif %}
  <div class="ui divider clearing"></div>

<div class="ui list">
  <div class="item">
    <div class="header">Descripción</div>
    {{caracteristica.denominacion|safe}}
  </div>
  <div class="item">
    <div class="header">Encargado/a</div>
    {{caracteristica.funcionario}}
  </div>
  <div class="item">
    <div class="header">Subrogante</div>
    {{caracteristica.funcionario}}
  </div>
  <div class="item">
    <div class="header">Fecha última modificación</div>
    {{caracteristica.updated}}
  </div>
</div>
  <div class="ui divider clearing"></div>
  <table id="documentos" class="ui celled very compact table bordered striped">
    <thead>
    <tr>
      <th>ACCIONES</th>
      <th>NOMBRE DOCUMENTO</th>
      <th>TIPO DOCUMENTO</th>
      <th>FECHA REALIZACIÓN</th>
    </tr>
    </thead>
    <tbody>
    {% for documento in documento_listado %}
    <tr>
      <td style="width: 30%">
        <a class="ui mini icon teal labeled button"
           href="{{ documento.archivo.url }}"
           data-tooltip="Descargar Documento"
           data-inverted=""
           data-position="bottom center">
           <i class="download icon"></i>
          DESCARGAR DOCUMENTO
        </a>

        {% if request.user.is_staff %}
        <a class="ui mini icon grey labeled button"
           href="#"
           data-tooltip="Editar Documento"
           data-inverted=""
           data-position="bottom center">
          <i class="edit icon"></i>
          EDITAR DOCUMENTO
        </a>
        {% endif %}
      </td>
      <td>{{ documento.nombre }}</td>
      <td>{{ documento.tipo_documento | upper }}</td>
      <td>{{ documento.vigencia | upper }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#documentos').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
{% endblock scripts %}
