{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ caracteristica.nombre }}{% endblock %}
{% block content %}
<div>
  <h2 class="ui header floated left">
    <i class="users icon"></i>
    <div class="content">{{ caracteristica.nombre }}
      <div class="ui grey large label">LISTADO DE CARACTERÍSTICAS DEL ÁMBITO {{ambito.nombre}}</div>
    </div>
  </h2>
      {% if request.user.is_staff %}
  <a class="ui right floated mini brown labeled icon button"
     data-tooltip="Cambiar encargado de ámbito"
     data-inverted=""
     data-position="bottom center"
     href="{% url 'ambitos:actualizar' ambito.id ambito.nombre|slugify %}">
    <i class="user icon"></i>
    CAMBIAR ENCARGADO DE ÁMBITO
  </a>
    {% endif %}
          {% if request.user.is_staff %}
  <a class="ui right floated mini blue labeled icon button"
     data-tooltip="Cambiar el subrogante del encargado de ámbito"
     data-inverted=""
     data-position="bottom center"
     href="{% url 'ambitos:actualizar' ambito.id ambito.nombre|slugify %}">
    <i class="user icon"></i>
    CAMBIAR SUBROGANTE
  </a>
    {% endif %}
  <div class="ui divider clearing"></div>

<div class="ui list">
  <div class="item">
    <div class="header">Descripción</div>
    {{ambito.descripcion|safe}}
  </div>
  <div class="item">
    <div class="header">Encargado/a</div>
    {{ambito.funcionario}}
  </div>
  <div class="item">
    <div class="header">Subrogante</div>
    {{ambito.funcionario}}
  </div>
  <div class="item">
    <div class="header">Fecha última reunión</div>
    {{ambito.updated}}
  </div>
</div>
  <div class="ui divider clearing"></div>
  <table id="caracteristicas" class="ui celled very compact table bordered striped">
    <thead>
    <tr>
      <th>ACCIONES</th>
      <th>NOMBRE CARACTERÍSTICA</th>
      <th>ENCARAGADO</th>
      <th>OBLOGATORIA</th>
    </tr>
    </thead>
    <tbody>
    {% for caracteristica in caracteristica_listado %}
    <tr>
      <td style="width: 27%">
        <a class="ui mini icon teal button"
           href="{% url 'caracteristicas:caracteristica' caracteristica.id caracteristica.nombre|slugify %}"
           data-tooltip="Ver Documentos"
           data-inverted=""
           data-position="bottom center">
          <i class="clipboard list icon"></i>
          Ver Documentación
        </a>

        {% if request.user.is_staff %}
        <a class="ui mini icon violet button"
           href="{% url 'caracteristicas:actualizar' caracteristica.id caracteristica.nombre|slugify %}"
           data-tooltip="Cambio de Encargado"
           data-inverted=""
           data-position="bottom center">
          <i class="user md icon"></i>
          Cambio de Encargado
        </a>
        {% endif %}
      </td>
      <td>{{ caracteristica.nombre }}</td>
      <td>{{ caracteristica.funcionario | upper }}</td>
      <td>{{ caracteristica.tipo | upper }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#caracteristicas').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
{% endblock scripts %}
