{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ambito.nombre}}{% endblock %}
{% block content %}
<div>
  <h2 class="ui header floated left">
    <i class="users icon"></i>
    <div class="content">{{ componente.nombre }}
      <div class="ui grey large label">LISTADO DE COMPONENTES DEL ÁMBITO {{ambito.nombre}}</div>
    </div>
  </h2>
      {% if request.user.is_staff %}
  <a class="ui right floated mini brown labeled icon button"
     data-tooltip="Cambiar encargado de ámbito"
     data-position="bottom center"
     href="{% url 'ambitos:actualizar' ambito.id ambito.nombre|slugify %}">
    <i class="user icon"></i>
    CAMBIAR ENCARGADO DE ÁMBITO
  </a>
    {% endif %}
          {% if request.user.is_staff %}
  <a class="ui right floated mini blue labeled icon button"
     data-tooltip="Cambiar el subrogante del encargado de ámbito"
     data-position="bottom center"
     href="{% url 'ambitos:actualizar' ambito.id ambito.nombre|slugify %}">
    <i class="user icon"></i>
    CAMBIAR SUBROGANTE DE ÁMBITO
  </a>
    {% endif %}
  <div class="ui divider clearing"></div>

<div class="ui list">
  <div class="item">
    <div class="header">Descripción</div>
    {{ambito.descripcion|safe}}
  </div>
  <div class="item">
    <div class="header">Encargado/a</div>
    {{ambito.funcionario}}
  </div>
  <div class="item">
    <div class="header">Subrogante</div>
    {{ambito.funcionario}}
  </div>
  <div class="item">
    <div class="header">Fecha última modificación</div>
    {{ambito.updated}}
  </div>
</div>
  <div class="ui divider clearing"></div>
  <table id="componentes" class="ui celled very compact table bordered striped">
    <thead>
    <tr>
      <th>ACCIONES</th>
      <th>NOMBRE</th>
      <th>DEFINICIÓN</th>
    </tr>
    </thead>
    <tbody>
    {% for componente in componente_listado %}
    <tr>
      <td style="width: 16%">
        <a class="ui mini icon violet labeled button"
           href="{% url 'componentes:componente' componente.id componente.nombre|slugify %}"
           data-tooltip="Ver características"
           data-position="bottom center">
          <i class="clipboard list icon"></i>
          Ver Caracteristicas
        </a>
        {% if request.user.is_staff %}
        {% endif %}
      </td>
      <td>{{ componente.nombre }}</td>
      <td>{{ componente.definicion | safe }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#componentes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
{% endblock scripts %}
