{% extends 'core/base.html' %}
{% load static %}
{% block title %}INDUCCIONES{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'base/css/dataTables.semanticui.min.css' %}">
{% endblock link%}
{% block content %}
<div class="ui container">
  <h2 class="ui header floated left">
    <i class="tasks icon"></i>
    <div class="ui content">INDUCCIONES
      <div class="sub header">
        Listado de inducciones realizadas
      </div>
    </div>
  </h2>
  <div class="ui divider clearing"></div>
  <div>
    <h3 class="ui header floated left">
      <div class="ui content">

      </div>
    </h3>
    <div>
      <table id="contratos" class="ui celled very compact table bordered striped">
        <thead>
        <tr>
          <th>ACCIONES</th>
          <th>NOMBRE FUNCIONARIO</th>
          <th>FECHA INGRESO</th>
          <th>FECHA INDUCCION</th>
        </tr>
        </thead>
        <tbody>
        {% for contrato in listar_inducciones %}
        <tr>
          <td style="width: 30%">
            <a class="ui mini icon primary labeled button"
               href="{% url 'contratos:contrato' contrato.id%}"
               data-tooltip="Ver Características"
               data-position="bottom center">
              <i class="list alternate outline icon"></i>
              Ver Contrato
            </a>
          </td>
          <td>{{ contrato.funcionario | upper }}</td>
          <td>{{ contrato.fecha_inicio | date }}</td>
          <td>{{ contrato.fecha_induccion | date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#contratos').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
<script>
$('.small.modal')
  .modal('show')
;
</script>
{% endblock scripts %}
