{% extends 'core/base.html' %} {% load static %} {% block title %} INGRESAR
AUSENCIA {% endblock %} {% block content %}
<div class="ui raised very padded text container compact segment">
  <h2 class="ui header floated left">
    <i class="icon calendar check"></i>
    <div class="ui content">
      Ingresar Contrato para:
      <div class="sub header">
        <strong>{{ nombre_completo }}</strong>
      </div>
    </div>
  </h2>
  <div class="ui divider clearing"></div>
    <form class="ui mini form" action="" method="post">
      {% csrf_token %}
      <table class="">
        {{ form.as_table }}
      </table>
      <button class="ui mini fluid button teal" type="submit">
        <i class="icon save"></i>
        INGRESAR CONTRATO
      </button>
    </form>
</div>
{% endblock %} {% block scripts %}
<script>
  $("select.dropdown").dropdown();
</script>
<script>
  $("#example1").calendar();
</script>
{% endblock scripts %}
