{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contrato{% endblock %}
{% block content %}
    <div class="container py-2 col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <span>
            <strong>Contrato de:
              {{ contrato.funcionario | upper }}
            </strong></span>
        </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">FECHA INICIO: <strong>{{ contrato.fecha_inicio }}</strong></li>
          <li class="list-group-item">FECHA TERMINO: <strong>{{ contrato.fecha_termino }}</strong></li>
          <li class="list-group-item">FECHA INDUCCION: <strong>{{ contrato.fecha_induccion }}</strong></li>
        </ul>
      </div>
      </div>
    </div>
{% endblock content %}