{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}FUNCIONARIOS{% endblock %} 
{% block link %}
<link rel="stylesheet" href="{% static 'css/dataTables.semanticui.min.css' %}" />
{% endblock link %} 
{% block content %}

  <h2 class="ui header floated left">
    <i class="users icon"></i>
    <div class="content">
      FUNCIONARIOS
      <div class="sub header">Funcionarios del CESFAM Sol de Oriente</div>
    </div>
  </h2>
  <a
    class="ui right floated mini teal labeled icon button"
    data-tooltip="Ingresar un nuevo funcionario"
    data-inverted=""
    data-position="bottom center"
    href="{% url 'funcionarios:crear' %}">
    <i class="user icon"></i>
    INGRESAR TRABAJADOR
  </a>
  <div class="ui divider clearing"></div>
  <div>
    <h3 class="ui header floated left">
      <div class="content"></div>
    </h3>
    <div>
      <table
        id="funcionarios"
        class="ui celled very compact table bordered striped"
      >
        <thead>
          <tr>
            <th>ACCIONES</th>
            <th>RUN</th>
            <th>NOMBRE</th>
            <th>PROFESIÓN</th>
          </tr>
        </thead>
        <tbody>
          {% for funcionario in funcionario_list %}
          <tr>
            <td style="width: 36%">
              <a
                class="ui mini icon primary labeled button"
                href="{% url 'funcionarios:funcionario' funcionario.id funcionario.nombres|slugify %}"
                data-tooltip="Ver la información"
                data-position="bottom center"
              >
                <i class="icon user"></i>
                Ver Datos
              </a>
              <a
                class="ui mini icon yellow labeled button"
                href="{% url 'contratos:crear' funcionario.id %}"
                data-tooltip="Modificar la información del funcionario "
                data-position="bottom center"
              >
                <i class="icon edit"></i>
                CONTRATO
              </a>
              <a
                class="ui mini icon grey labeled button"
                href="{% url 'ausencias:crear' funcionario.id %}"
                data-tooltip="Agregar una ausencia"
                data-position="bottom center"
              >
                <i class="icon calendar alternate"></i>
                Ingresar ausencia
              </a>
            </td>
            <td>{{ funcionario.run }}</td>
            <td>{{ funcionario | upper }}</td>
            <td>{{ funcionario.profesion.nombre | upper }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %} {% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#funcionarios").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
      },
    });
  });
</script>
{% endblock scripts %}
