{% extends 'core/base.html' %}
{% load static %}
{% block title %}MODIFICAR FUNCIONARIO{% endblock %}
{% block content %}
    <main role="main">
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col-md-6 mx-auto">
                    <div>
                        {% if 'ok' in request.GET %}
                            <div class="ui blue message">

                                <a href="{% url 'funcionarios:funcionario' funcionario.id funcionario.nombres|slugify %}">
                                    Funcionario Actualizado Correctamente.Ver Trabajador
                                </a>

                            </div>

                        {% endif %}
                        <form action="" method="post">{% csrf_token %}
                            <table class="">
                                {{ form.as_table }}
                            </table>
                            <br>
                            <div class="text-center">
                                <input class="btn btn-success btn-block" type="submit" value="Actualizar Datos" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}