{% extends 'core/base.html' %}
{% load static %}
{% block title %}CARACTERÍSTICA{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'base/css/dataTables.semanticui.min.css' %}">
{% endblock link%}
{% block content %}
<div>
  <h2 class="ui header floated left">
    <i class="list ol icon"></i>
    <div class="ui content">CARACTERÍSTICAS
      <div class="sub header">
        Listado características del {{ componente }}
      </div>
    </div>
  </h2>
  <div class="ui divider clearing"></div>
  <div>
    <h3 class="ui header floated left">
      <div class="ui content">

      </div>
    </h3>
    <div>
      <table id="caracteristicas" class="ui celled very compact table bordered striped">
        <thead>
        <tr>
          <th>ACCIONES</th>
          <th>NOMBRE CARACTERISTICA</th>
          <th>ENCARAGADO</th>
          <th>OBLIGATORIA</th>
        </tr>
        </thead>
        <tbody>
        {% for caracteristica in caracteristica_listado %}
        <tr>
          <td style="width: 27%">
            <a class="ui mini icon primary labeled button"
               href="{% url 'caracteristicas:caracteristica' caracteristica.id caracteristica.nombre|slugify %}"
               data-tooltip="Ver Característica"
               data-position="bottom center">
              <i class="list alternate outline icon"></i>
              Ver Datos
            </a>

            {% if request.user.is_staff %}
            <a class="ui mini icon brown labeled button"
               href="{% url 'caracteristicas:actualizar' caracteristica.id caracteristica.nombre|slugify %}"
               data-tooltip="Cambio de Encargado"
               data-position="bottom center">
              <i class="user md icon"></i>
              Cambio de Encargado
            </a>
            {% endif %}
          </td>
          <td>{{ caracteristica.nombre }}</td>
          <td>{{ caracteristica.funcionario | upper }}</td>
          <td>{{ caracteristica.tipo | upper }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#caracteristicas').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
<script>
$('.small.modal')
  .modal('show')
;
</script>
{% endblock scripts %}
