<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <!-- Estilos -->
  <link href="{% static 'semantic/semantic-lumen.css' %}" rel="stylesheet">
  <!-- Estilos -->
  {% block link %}
  {% endblock link %}
</head>
<body>
<!-- Navegación -->
{% include 'core/navbar.html'%}
<!-- Navegación -->
  <!-- Contenido -->
  <div style="width: 80%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 80px;">
  <div class="main ui container">
    {% block content %}
    {% endblock %}
  </div>
  <!-- Contenido -->
  <!-- Footer -->
</div>
  {% include 'core/footer.html' %}
  <!-- Footer -->
  <!-- Javascript -->
  {% include 'core/scripts.html' %}
  {% block scripts %}
  {% endblock scripts %}
  <!-- Javascript -->

</body>
</html>