
<div class="ui inverted vertical footer segment" style="width: 100%;
bottom: 0;
position: fixed;">
<div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <p>
        This project is licensed under the GNU General Public License v3.0p | Creado y mantenido por Javier Ramos
        <script>document.write(new Date().getFullYear());</script>
        | Este sistema fue realizado con el <i class="heart icon"></i>
        para el equipo de Calidad del CESFAM Sol de Oriente.
      </p>
    </div>
  </div>
</div>
