<div class="ui inverted vertical footer segment" style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}">
    <div class="ui center aligned container">
    <div class="ui stackable grid"></div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal stackable inverted small divided link list">
        <p>
        Licencia GPLv3 | Creado y mantenido por Javier Ramos hasta el 
            <script>document.write(new Date().getFullYear());</script>
             | Este sistema fue realizado con el <i class="heart icon"></i>
            para el equipo de Calidad del CESFAM Sol de Oriente.
        </p>
      </div>
    </div>
</div>
