{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="ui container">
<div class="ui raised center aligned segment">
  <img class="ui centered medium image" src="{% static 'images/logo-acreditacion.png' %}">
  <br>
  <h3 class="ui header">La Calidad nunca es un accidente, siempre es el resultado de un esfuerzo de la inteligencia.
    <br>
  </h3>
  <strong>"John Ruskin"</strong>
</div>
</div>
{% endblock %}